{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Numetud</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td><a href="{{ path('department_show', { 'id': department.id }) }}">{{ department.id }}</a></td>
                <td>{{ department.name }}</td>
                <td>{{ department.capacity }}</td>
                <td>{{ department.numEtud }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('department_show', { 'id': department.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('department_edit', { 'id': department.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('department_new') }}">Create a new department</a>
        </li>
    </ul>
{% endblock %}
